* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Medium", sans-serif;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 40px;
  list-style: none;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1px;
  background-color: rgb(120, 144, 130);
  color: #fff;
}
.nav ul > li {
  margin: auto;
  cursor: pointer;
  padding: 12px 20px;
}
.nav ul > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nav ul > li ul {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 40px;
  width: 150px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px 10px;
  border-top: 2px solid #fff;
  border-radius: 5px;
  line-height: 1.2;
  letter-spacing: normal;
}
.nav ul > li ul li {
  padding: 0;
  width: 130px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
}
.nav ul > li:hover ul {
  display: flex;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  background-color: rgb(213, 213, 213);
}
main .container form {
  display: none;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  border: 2px solid #333;
  box-shadow: 0 0 10px 10px #333;
}
main .container form h3 {
  text-decoration: underline;
}